<div class="container">
  <div class="row">
    <div class="col">
      <div class="item-title">
        <h4>商品詳細</h4>
      </div>
        <div class="item-all">
          <div class="item-img">
            <%= attachment_image_tag @item, :image, fallback: "no_image.jpg", size: "100x100" %>
          </div>
            <div class="item-all">

            </div>
        </div>
    </div>
  </div>
</div>