<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="about-title">
        <h1>About</h1>
        <p>長野ケーキは全国発送可能なケーキ屋さんです。<br/>
        お子様からお年寄りの方までお召し上がりいただけるよう<br/>
        様々なバリエーションをご用意しております<br/>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br/>
        ぜひご注⽂ください。</p>
      </div>
        <div class="about-img">
          <%= image_tag('images.jpeg',size:"750x300" ) %>
        </div>
    </div>
  </div>
</div>