<div class="container">
  <div class="row">
    <div class="col">
      <div class="customer-title text-center" style="width:20%;">
        <h4 class="bg-light m-4">会員一覧</h4>
      </div>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
              <tbody>
                <% @customers.each do |customer| %>
                  <tr>
                    <td><%= customer.id %></td>
                    <td><%=link_to customer.first_name + customer.last_name,admin_customer_path(customer.id), class: "text-dark" %></td>
                    <td><%= customer.email %></td>
                    <td>
                      <% if customer.is_active == true %>
                        <p class="text-success">有効</p>
                      <% else %>
                        <p class="text-success">退会</p>
                      <% end %>
                  </tr>
                <% end %>
              </tbody>
          </table>
          <div class="page text-center"><%= paginate @customers,:class=>"d-block" %></div>
      </div>
    </div>
  </div>
</div>