<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @genre,url: admin_genre_path(@genre.id) do |f| %>
        <div class="genre-all d-flex">
          <h4>ジャンル編集</h4>
          <div class="genre-input">
              <%= f.text_field :name %>
          </div>
          <div class="genre-link"><%=f.submit "変更を保存" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>