<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="loguin-title w-50  mx-auto">
          <div class="login-title m-4 text-center" style="width:30%;">
            <h4 class="bg-light">管理者ログイン</h4>
          </div>
          <div class="field d-flex justify-content-around">
            <p class="m-1">メールアドレス</p>
            <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
          </div>

          <div class="field d-flex justify-content-around">
            <p class="m-1">パスワード　</p>
            <p><%= f.password_field :password, autocomplete: "current-password" %></p>
          </div>

          <div class="actions text-center m-4">
            <%= f.submit "ログイン",class: "btn btn-primary" %>
          </div>
      </div>
    </div>
  </div>
<% end %>