<div class="container">
  <div class="row">
    <div class="col">
      <div class="order-title" style="position:relative;">
        <div style="position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(100%) translateX(-50%);
                    -webkit- transform: translateY(-50%) translateX(-50%);">
          <h1>ご注文ありがとうございました</h1>
        </div>
      </div>
    </div>
  </div>
</div>